<style type="text/css">

	.cards {
		width: 150px;
		margin: 4px 0;
		background-color: maroon;
		color: white;
	}

	.columns {
		height: 400px;
		background-color: gray;
	}


</style>



<h1>ScrumBoard</h1>

<div class="row">
	<div id="column-one" class="span3 columns">
		<p>ToDo (all)</p>
		<div class="input-append">
			<%= form_for @project, :remote => true do |f| %>
				<%= f.text_field :name, :class => "input-medium" %>
				<%= f.submit "add", :class => "btn" %>
			<% end %>
		</div>		
		<% @projects.each do |project| %>
			<div class="cards"><%= project.name %></div>
		<% end %>

	</div>
	<div class="span3 columns">
		<p>ToDo (this week)</p>
	</div>
	<div class="span3 columns">
		<p>Started</p>
	</div>
	<div class="span3 columns">
		<p>Done</p>
	</div>	
</div>