<style type="text/css">

	.cards {
		width: 150px;
		background-color: maroon;
	}

	.columns {
		height: 500px;
		width: 200px;
		background-color: yellow;
	}


</style>



<h1>ScrumBoard</h1>

<div class="row">
	<div class="span4 columns">
		<p>ToDo (this week)</p>
		<div class="cards">Item 1</div>
		<div class="cards">Item 2</div>
		<div class="cards">Item 3</div>
	</div>
	<div class="span4 columns">
		<p>Started</p>
	</div>
	<div class="span4">
		<p>Done</p>
	</div>
</div>